body {
    background: #111;
    color: white;
    font-family: Arial;
    text-align: center;
}

li {
    list-style: none;
    padding: 10px;
    margin: 10px;
    background: #222;
    cursor: pointer;
    border-radius: 8px;
}

li:hover {
    background: #00ffcc;
    color: black;
}
